{{- $posts := "" -}}

{{- if .section -}}
    {{- $posts = (where site.RegularPages "Section" .section) -}}
{{- else -}}
    {{- if (eq .context.Kind "taxonomy") -}}
        {{- $posts = .context.Pages -}}
    {{- else -}}
        {{- if (eq .context.Kind "term") -}}
            {{- $posts = .context.Data.Pages -}}
        {{- else -}}
                {{- $posts = site.RegularPages }}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- if (eq .context.Kind "taxonomy") -}}
    <ul>
        {{- range $post := $posts -}}
            <li>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </li>
        {{- end -}}    
    </ul>
{{- else -}}
    {{- range $post := $posts -}}
        {{ partial "paged_item.html" . }}
    {{ end }}
{{ end }}