// -------------- THEME SWITCHER -------------- //
@import "./mixin/theme";

@mixin dark-appearance {
  @include theme(#000000, #ffffff, #000000, #79a8ff, #f78fe7, #2f3849); // modus-vivendi
}

@mixin light-appearance {
  @include theme(#ffffff, #000000, #595959, #1d60a3, #8f0075, #dae5ec); // modus-operandi
}

@import "./_base";
@import "./profile";

@media (min-width: 100ch) {
  body {
    max-width: 100ch;
  }
}

body {
  padding: 0.5ch;
  margin: 0 auto;
  font-family: Nationale, Roboto, sans-serif;
  position: relative;
}

a {
  text-decoration: none;
  &:hover {
    color: #a31d1d;
    text-decoration: underline;
  }
}

.post-article {
  margin: 1rem 0;
  padding: 0.5rem 0.25rem;

  &.paged-item {
    &:hover,
    &:focus-visible,
    &:focus-within {
      background: #f1f1f1;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.25rem;
  }

  .post-title,
  time.post-time {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.1rem;

    a {
      color: inherit;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .post-title {
    flex: 1 0 auto;
  }

  time.post-time {
    white-space: nowrap;
    font-size: 1.1rem;
    font-weight: 600;
  }

  .content {
    padding: 0.25rem;
  }
}

@media (max-width: 650px) {
  .post-article {
    > header {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr min-content;
      grid-template-areas: "post-title post-title" "post-tags post-time";
      justify-items: space-between;
      .post-title {
        grid-area: post-title;
      }
      time.post-time {
        grid-area: post-time;
        font-weight: 100;
        text-align: right;
        font-size: 1rem;
      }
    }
  }
}

@media (max-width: 520px) {
}

.article-tags,
.article-categories {
  display: inline;
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: inline;
    margin-right: 0.25rem;
  }
}

.pagination {
  display: flex;
  justify-content: space-between;
  text-align: center;

  .disabled {
    visibility: hidden;
  }

  &-item {
    background: #fafafa;
    padding: 0.75em 0.75em;

    &:empty,
    &.disabled {
      visibility: hidden;
    }

    a {
      color: #333333;

      &:hover,
      &:focus {
        color: #a31d1d;
        border-bottom: 0;
      }
    }
  }
}

.gist-embed-container {
  isolation: isolate;
  outline: solid 1px #000;
  padding: 1rem;
  margin: 1rem;

  > iframe {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--image-grid-min-width, 250px), 1fr));
  gap: 0.25rem;
  place-content: center;

  figure {
    margin: 0 auto;
    display: inline-block;
    border: solid 1px #aaa;
    background: #fcfcfc;
    padding: 0.25rem;
    margin: 0;

    figcaption {
      text-align: center;
      font-size: 0.9rem;
      font-style: italic;
    }

    img {
      display: inline;
      margin: 0;
      max-width: 100%;
    }
  }
}
