{{ define "main" }}

{{ if not .Paginator.HasPrev }}
<div class="homepage-content">
    {{ .Content }}
</div>
{{ end }}


{{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
{{ range (.Paginate $pages).Pages }}
<article class="post-list">
    <header>
        <h1>
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </h1>
    </header>

    {{ partial "articleInfoFull.html" . }}
    <div class="content">
        {{ .Summary | safeHTML }}
    </div>
    <!--         {{ if .Truncated }}
            <div class="read-more">
                <a href="{{ .RelPermalink }}">{{ i18n "readMore" | humanize }}</a>
            </div>
        {{ end }} -->

</article>
{{ end }}
{{ partial "pagination.html" . }}

Webring: <a href="https://remycoppard.xyz">&lt; Previous</a> | <a href="https://webring.t0.vc">Index</a> | <a href="https://elefantlover.github.io/">Next &gt;</a> 

{{ end }}
